.landing {
  position: relative;
  height: 100vh;
  background-color: $primaryBG;
  // border: 10px solid $blk;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: $primaryBG;
  }
}

.main-logo {
  position: absolute;
  top: 20px;
  left: 80px;
  height: 140px;
  width: 706px;
  // background-color: $gry;
  img {
    height: 140px;
    width: auto;
  }
}

.main-line {
  position: absolute;
  top: 20px;
  left: 826px;
  right: 160px;
  height: 140px;
  // background-color: $gry1;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 10px;
    width: 100%;
    background-color: $brown;
    transition: width 300ms;
  }
  &.line-trigger:before {
    width: 66%;
  }
}

.main-menu-trigger {
  position: absolute;
  top: 50px;
  right: 40px;
  height: 80px;
  width: 80px;
  // background-color: $gry;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 6px solid $red;
    border-radius: 50%;
    transition: all 150ms;
  }
  .u-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    width: 60px;
    fill: $red;
    transition: all 300ms;
  }
  &.triggered {
    &:before { background-color: $red; }
    .u-p { fill: $primaryBG}
  }
  &:hover { cursor: pointer; }
}

.main-menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  background-color: $wht3;
}

.main-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 33px 0 27px 0;
  background-color: $primaryBG;
  transition: transform 300ms;
  &.main-menu-active { transform: translateY(100%); }
  ul {
    float: right;
    padding: 0 80px;
  }
  li {
    position: relative;
    display: block;
    float: left;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 30px;
      left: 100%;
      height: 3px;
      background-color: $brown;
      transition: left 300ms;
    }
    &:hover:before {
      left: 0;
    }
  }
  a {
    color: $red;
    padding: 0 20px;
    font-size: 1.25rem;
    font-family: "industry-inc-base",sans-serif;
    font-weight: 500;
    // background-color: $wht;
  }

}

.landing-image {
  position: absolute;
  top: 140px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  // background-color: $gry2;
  background-image: url('../assets/img/great-lakes-ice.jpg');
  background-position: center center;
  background-size: cover;
}

.established {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 126px;
  // background-color: $gry;
  img {
    height: 60px;
    width: auto;
  }
}

// z-index's

.landing-image
  {  z-index: 111; }

.main-menu-wrap
  { z-index: 333; }

.landing:before,
.main-logo,
.main-line,
.main-menu-trigger,
.established
  {  z-index: 666; }
